a {
  color: black;
}

button:hover {
color: orange;
}

p {
  font-family: Helvetica;
}

p:hover {
color: orange;
}

button {
  font-family: Helvetica;
}


a:hover {
color: orange;
}